.section {
  overflow-y: auto;
  width: 100%;
  height: 500px;
  text-align: left;
  margin: 1.5rem auto;
}

.notes {
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

h1.capitalize,
h2.capitalize,
h3.capitalize {
  text-transform: capitalize;
}

h1.lowercase,
h2.lowercase,
h3.lowercase {
  text-transform: lowercase;
}

ul li,
ol li,
p,
h2 {
  text-align: left;
  margin-top: 1.5rem;
}

ol li {
  margin-left: 1.5rem;
}

code {
  color: #ff357c;
}

[data-javascript] {
  color: pink;
}

[data-shell] {
  background: transparent;
}

/* slide 2 */
.change-color {
  background: red;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.btn {
  margin: 1.5rem auto;
  text-align: center;
  display: flex;
  padding: 5px 10px;
}

/* styling fro toggleSrc hiddenCan/VisibleCan src attribute */
#imageBtn {
  padding: 10px;
  font-size: 2.25rem;
  background: #e50098;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}
